.DS_Store
.pnp.cjs
.pnp.loader.mjs
.yarn/
yarn.lock
.parcel-cache/
dist/
.firebase/
.firebaserc
public/
firebase.json
/old
.claude/
.yarnrc.yml
node_modules/
package-lock.json
src/old/
src/onboarding_questions.md
.openclaw/
src/sendTest.md
.env